
@media screen and (max-width: 600px) {
    .premium{
        margin: 8em .5em;
    }
    .premium .circle{
        display: block;
        position: relative;
        background-color:var(--circle);
        color: var(--color-fifth);
        margin: 2em 0;
        border: 7px solid var(--color-fifth);
        border-radius: 50%;
        padding: 30%;
        font-size:50px;
        filter: drop-shadow(20px 10px 200px var(--color-fourth));

    }
    .premium .premiumText{
        margin-top: 0;
        font-size: 1.5em;
    }
    .premium .subText{
        font-size: .8em;
    }
    .premium .whiteButton{
        width: 30%;
        margin-top: 5%;
        margin-bottom: 30%;
    }
}