@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


:root{
    --color-first:#010020;
    --color-second: #ffffff;
    --color-third: #01F382;
    --color-fourth: #67687D;
    --color-fifth: #2C2C2C;
    --color-shadow: rgb(34, 30, 152);
    --circle: #131313;
    --letter: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--letter);
    background-color: var(--color-first);
    color: var(--color-second);
}

img{
    max-width: 100%;
    width: 100%;
}

a{
    display: block;
}

li{
    list-style-type: none;
    cursor: pointer;
}
h1, h2, h3, h4, a, p, span, button{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

/* HEADER */

.header{
    width: 100%;
    padding: 3em 0;

    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
}
.header .logo{
    margin-left: 1%;
}
.header img{
    width: 90%;
    margin-left: 2em;
}
.main .drop { 
    filter: drop-shadow(100px 50px 100px var(--color-shadow)); 
}

.header .boton{
    display: none;
    width: 15%;

    align-self: flex-end;
    margin-right: 10%;
    margin-bottom: 5%;

    border-radius: 30px;
    
    background-color: var(--color-third);
    color: var(--color-segundo);
}

.header .svg{
    height: 2em;
    width: 2em;
    margin:auto;
}
.header .nav{
   margin-right: 8%;
}


.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.header .li{
    margin: 1em;
}

.ul .green{
    color: var(--color-third);
    border-right: 1px solid var(--color-fourth);
    padding-right: 1.5em;
}



/* --- Main --- */

.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 0 5em;
}

.main .slogan{
    display: flex;
    font-size: 65px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.main .imgen{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.main .info{
    color: var(--color-fourth);
    font-size: 1.1em;
    margin: 9% 0;
}
.main .greenbutton{
    height: 10%;
    width: 40%;
    background-color: var(--color-third);
    color: var(--color-second);
    border-radius: 35px;
}

/* Footer */
.premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 2em;
}
.premium .circle{
    display: none;
}

.premium .premiumText{
    font-size: 2em;
    font-weight: bold;
}

.premium .subText{
    font-size: 1.1em;
    color: var(--color-fourth);
    margin: 1em 0;
}

.premium .whiteButton{
    height: 3em;
    width: 20%;
    background-color: var(--color-second);
    color: var(--color-fifth);
    font-size: medium;
    font-weight: 600;
    border-radius: 35px;
    margin-top: 2em;   
}


/* MOBILE */

@media screen and (max-width: 600px) {

    /* HEADER */

    .header{
        display: flex;
        flex-direction: column;
        padding: 5% 0;
    }

    .header .boton{
        display: block;
        cursor: pointer;
    }
    .header .nav{
       width: 100%;
       display: none;
       
    }
    .header .nav.activo{
        display: block;
    }
    .header img{
        width: 300px;
    }
    .header .ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;
    }
    .header .li{
        margin: 1rem;
    }
    /* .ul :hover{
        background-color: whitesmoke;
        padding: 10px 30px;
    }
    .header .ul .green{
        border: 0;
        padding: 10px 20px;
    }

    /* MAIN */

    .main{
        display: flex;
        flex-direction: column-reverse;
    }

    .main .imgen{
        width: 100%;
        justify-content: center;
        align-self: center;
    }

    .main .textBox{
        margin-top: 5%;
    }

    .main .greenbutton{
        height: 3em;
        width: 10em;
    }

    /* PREMIUM */

    .premium .circle{
        display: block;
        background-color:var(--circle);
        color: var(--color-fifth);
        margin: 2em 0;
        border: 7px solid var(--color-fifth);
        border-radius: 50%;
        padding: 40%;
        font-size:50px;
    }
    .premium .premiumText{
        margin-top: 0;
    }

    .premium .whiteButton{
        width: 30%;
        margin-bottom: 1em;
    }
}